.mainContainer {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
}

.h2 {
  display: flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.textContainer p {
  font-weight: 300;
}

.textContainer span {
  font-weight: 600;
}

.borderCountries {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  gap: 18px;
  padding-top: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  .mainContainer {
    width: 100%;
  }

  .textContainer {
    flex-direction: column;
    gap: 30px;
  }

  .borderCountries {
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
