.button {
  width: 96px;
  height: 28px;
  border-radius: 2px;
  background: #2b3844;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  color: #ffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}
