.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.innerContainer {
  display: flex;
  align-items: row;
  align-items: center;
  width: 90%;
  max-width: 1350px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageFlag {
  max-width: 560px;
  width: 100%;
  border-radius: 8px;
}

.backContainer {
  display: flex;
  width: 90%;
  max-width: 1400px;
}

@media (max-width: 1340px) {
  .innerContainer {
    flex-direction: column;
    gap: 30px;
  }
}
